Smart_connected_Signs_for_Improved_Road_Safety/Node_red_flow.txt
[{"id":"75d3c720.be0298","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"20b7868a.2ec8ea","type":"debug","z":"75d3c720.be0298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":160,"wires":[]},{"id":"1953cf94.a6ad3","type":"http request","z":"75d3c720.be0298","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=India,hyderabad&units=metric&appid=be857488d7e023ee69661a4c00afc80a","tls":"","proxy":"","authType":"","x":270,"y":180,"wires":[["e1b20c71.14adb","e7cdc05a.2a908","a94f79cb.d4c868","1bf36bf3.a77604","d4944525.cb35b8"]]},{"id":"1bf36bf3.a77604","type":"change","z":"75d3c720.be0298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["b32b9a4f.8e06f8","20b7868a.2ec8ea"]]},{"id":"b32b9a4f.8e06f8","type":"ui_text","z":"75d3c720.be0298","group":"15801141.56757f","order":5,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":140,"wires":[]},{"id":"d4944525.cb35b8","type":"change","z":"75d3c720.be0298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["3c043ee3.240692","20b7868a.2ec8ea"]]},{"id":"3c043ee3.240692","type":"ui_text","z":"75d3c720.be0298","group":"15801141.56757f","order":5,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":180,"wires":[]},{"id":"cc00f6c.24d8108","type":"ui_button","z":"75d3c720.be0298","name":"","group":"15801141.56757f","order":9,"width":0,"height":0,"passthru":false,"label":"A2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A2","payloadType":"str","topic":"","x":270,"y":340,"wires":[["ff841a29.a87558","a94f79cb.d4c868"]]},{"id":"a0bc6ee3.419c5","type":"ui_button","z":"75d3c720.be0298","name":"","group":"15801141.56757f","order":10,"width":0,"height":0,"passthru":false,"label":"A3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A3","payloadType":"str","topic":"","x":270,"y":380,"wires":[["ff841a29.a87558","a94f79cb.d4c868"]]},{"id":"4bebfdcf.e3a8a4","type":"ui_button","z":"75d3c720.be0298","name":"","group":"15801141.56757f","order":8,"width":0,"height":0,"passthru":false,"label":"A1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"A1","payloadType":"str","topic":"","x":270,"y":300,"wires":[["ff841a29.a87558","a94f79cb.d4c868"]]},{"id":"ff841a29.a87558","type":"debug","z":"75d3c720.be0298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":300,"wires":[]},{"id":"418833ec.8d93cc","type":"http in","z":"75d3c720.be0298","name":"","url":"/receive","method":"get","upload":false,"swaggerDoc":"","x":250,"y":460,"wires":[["3095b71e.02edd8"]]},{"id":"3095b71e.02edd8","type":"function","z":"75d3c720.be0298","name":"output node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["ff841a29.a87558","5c09185a.cd3f38","a94f79cb.d4c868"]]},{"id":"5c09185a.cd3f38","type":"http response","z":"75d3c720.be0298","name":"","statusCode":"","headers":{},"x":610,"y":460,"wires":[]},{"id":"13f24c22.dea8c4","type":"ui_button","z":"75d3c720.be0298","name":"","group":"15801141.56757f","order":12,"width":0,"height":0,"passthru":false,"label":"String","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":420,"wires":[["ff841a29.a87558","a94f79cb.d4c868"]]},{"id":"a94f79cb.d4c868","type":"ibmiot out","z":"75d3c720.be0298","authentication":"apiKey","apiKey":"b36fb207.594d8","outputType":"cmd","deviceId":"1234","deviceType":"IoT","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":920,"y":540,"wires":[]},{"id":"9bb5e642.7567c8","type":"http in","z":"75d3c720.be0298","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":280,"y":220,"wires":[["f11f4b87.da7b58"]]},{"id":"f11f4b87.da7b58","type":"function","z":"75d3c720.be0298","name":"","func":"msg.payload={\"Temperature\":global.get(\"Temperature\"),\"Humidity\":global.get(\"Humidity\"),\"Harmful\":global.get(\"Harmful\"),\"distance\":global.get(\"distance\")}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["da269961.3ddcf8"]]},{"id":"da269961.3ddcf8","type":"http response","z":"75d3c720.be0298","name":"","statusCode":"","headers":{},"x":570,"y":220,"wires":[]},{"id":"e1b20c71.14adb","type":"function","z":"75d3c720.be0298","name":"","func":"msg.payload=msg.payload.main.temp\nglobal.set(\"Temperature\",msg.payload)\nif(msg.payload <=   \"25\")\n{\n    msg.payload = \"1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["1bf36bf3.a77604","a7b7a221.54e0d"]]},{"id":"e7cdc05a.2a908","type":"function","z":"75d3c720.be0298","name":"","func":"msg.payload=msg.payload.main.humidity\nglobal.set(\"Humidity\",msg.payload)\nif(msg.payload <=   \"50\")\n{\n    msg.payload = \"1\";\n}\nelse\n{\n    msg.payload = \"0\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["d4944525.cb35b8","53023b1b.b14894"]]},{"id":"53023b1b.b14894","type":"ui_switch","z":"75d3c720.be0298","name":"","label":"Humidity","tooltip":"","group":"15801141.56757f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":240,"y":560,"wires":[["edd73d5f.8d16c"]]},{"id":"a7b7a221.54e0d","type":"ui_switch","z":"75d3c720.be0298","name":"","label":"Temperature","tooltip":"","group":"15801141.56757f","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":250,"y":520,"wires":[["79a53acd.160944"]]},{"id":"79a53acd.160944","type":"function","z":"75d3c720.be0298","name":"fun","func":"if(msg.payload ==   1)\n{\n    msg.payload = \"Speed Limit 20Kmph\";\n}\nelse\n{\n    msg.payload = \"Speed Limit 60Kmph\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["a94f79cb.d4c868","ff841a29.a87558"]]},{"id":"edd73d5f.8d16c","type":"function","z":"75d3c720.be0298","name":"fun","func":"if(msg.payload <=   \"25\")\n{\n    msg.payload = \"Speed Limit 30Kmph\";\n}\nelse\n{\n    msg.payload = \"Speed Limit 80Kmph\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":560,"wires":[["a94f79cb.d4c868","ff841a29.a87558"]]},{"id":"e593d083.d0e8a","type":"switch","z":"75d3c720.be0298","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":400,"wires":[[]]},{"id":"5511845e.72e49c","type":"inject","z":"75d3c720.be0298","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"30","x":110,"y":200,"wires":[["1953cf94.a6ad3"]]},{"id":"15801141.56757f","type":"ui_group","z":"","name":"Sensor Values","tab":"b4b39ffd.9c0d1","order":2,"disp":true,"width":"6","collapse":false},{"id":"b36fb207.594d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"nlm7m3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b4b39ffd.9c0d1","type":"ui_tab","z":"","name":"Smart_connected_Signs_for_Improved_Road_Safety","icon":"dashboard","disabled":false,"hidden":false}]