SMART WASTE MANAGEMENT SYSTEM/smart waste management system.txt
[{"id":"1299c5e2.b5f36a","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"10f20398.4b2d7c","type":"ibmiot in","z":"1299c5e2.b5f36a","authentication":"apiKey","apiKey":"51ed5be3.d702d4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"chinnu","applicationId":"","deviceType":"sahi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":132,"y":194,"wires":[["4a6e7e7c.afbb2","63be46b.01598b8"]]},{"id":"4a6e7e7c.afbb2","type":"function","z":"1299c5e2.b5f36a","name":"distance","func":"msg.payload=msg.payload.d.distance\nglobal.set(\"distance\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":354,"y":147,"wires":[["f709f638.746c98","4bbbd7e8.65cea8","58dec2e3.3b9fdc"]]},{"id":"f709f638.746c98","type":"debug","z":"1299c5e2.b5f36a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":685.9999847412109,"y":63.999999046325684,"wires":[]},{"id":"63be46b.01598b8","type":"cloudant out","z":"1299c5e2.b5f36a","name":"","cloudant":"","database":"sahidb","service":"cloud1710-cloudantNoSQLDB","payonly":false,"operation":"insert","x":232,"y":93,"wires":[]},{"id":"70380894.21beb8","type":"http in","z":"1299c5e2.b5f36a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":181.00000762939453,"y":351.0000877380371,"wires":[["d1160bd2.4c1e08"]]},{"id":"77a51290.c98ffc","type":"http response","z":"1299c5e2.b5f36a","name":"","statusCode":"","headers":{},"x":753.9999656677246,"y":359.0000190734863,"wires":[]},{"id":"d1160bd2.4c1e08","type":"function","z":"1299c5e2.b5f36a","name":"","func":"msg.payload={\"distance\":global.get(\"distance\")}\nreturn msg;\n","outputs":1,"noerr":0,"x":458,"y":351.00003814697266,"wires":[["77a51290.c98ffc"]]},{"id":"4bbbd7e8.65cea8","type":"ui_gauge","z":"1299c5e2.b5f36a","name":"","group":"cb81f22f.0632c","order":14,"width":0,"height":0,"gtype":"wave","title":"Dustbin","label":"CM","format":"{{value}}","min":"2","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":678.4999771118164,"y":144.00002765655518,"wires":[]},{"id":"56b7e1f4.182b9","type":"ui_text","z":"1299c5e2.b5f36a","group":"cb81f22f.0632c","order":15,"width":"0","height":"0","name":"","label":"level","format":"{{msg.payload}}","layout":"col-center","x":929.9999847412109,"y":235.000018119812,"wires":[]},{"id":"58dec2e3.3b9fdc","type":"switch","z":"1299c5e2.b5f36a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670.9999809265137,"y":212.00000953674316,"wires":[["761fd3a5.4723cc"]]},{"id":"761fd3a5.4723cc","type":"function","z":"1299c5e2.b5f36a","name":"","func":"if(msg.payload<=10)\n{\n    msg.payload=\"full\";\n}\nelse if(msg.payload<=30){\n    msg.payload=\"Medium\";\n}\nelse{\n msg.payload=\"empty\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":797.9999923706055,"y":170.00001907348633,"wires":[["56b7e1f4.182b9"]]},{"id":"51ed5be3.d702d4","type":"ibmiot","z":"","name":"sahithi","keepalive":"60","serverName":"jeedfb.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cb81f22f.0632c","type":"ui_group","z":"","name":"varma","tab":"25372925.8d1726","disp":true,"width":"6","collapse":false},{"id":"25372925.8d1726","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]