Smart_Animal_Farm_based_on_IOT/Node_red_flow.txt
[{"id":"1f8ff3fa.453b2c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"60b45899.2428e8","type":"ibmiot in","z":"1f8ff3fa.453b2c","authentication":"apiKey","apiKey":"b36fb207.594d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"IoT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":180,"wires":[["9d7e2dc4.edf41","e6fe3e36.816d1","b069e798.232948","938edceb.31b01"]]},{"id":"9d7e2dc4.edf41","type":"function","z":"1f8ff3fa.453b2c","name":"temperature","func":"global.set(\"Temperature\",msg.payload.d.Temperature)\nmsg.payload=msg.payload.d.Temperature\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["9d880396.a25aa","d7257ff5.b1f4c"]]},{"id":"e6fe3e36.816d1","type":"function","z":"1f8ff3fa.453b2c","name":"humidity","func":"global.set(\"Humidity\",msg.payload.d.Humidity)\nmsg.payload=msg.payload.d.Humidity\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["9d880396.a25aa","16340aba.1c7365"]]},{"id":"b069e798.232948","type":"function","z":"1f8ff3fa.453b2c","name":"Harmful","func":"global.set(\"Harmful\",msg.payload.d.Harmful)\n\n\nmsg.payload=msg.payload.d.Harmful\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["9d880396.a25aa","f0d83a63.a18708"]]},{"id":"9d880396.a25aa","type":"debug","z":"1f8ff3fa.453b2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":140,"wires":[]},{"id":"d7257ff5.b1f4c","type":"ui_gauge","z":"1f8ff3fa.453b2c","name":"","group":"7e83a3be.de62ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":200,"wires":[]},{"id":"16340aba.1c7365","type":"ui_gauge","z":"1f8ff3fa.453b2c","name":"","group":"7e83a3be.de62ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":240,"wires":[]},{"id":"f0d83a63.a18708","type":"ui_gauge","z":"1f8ff3fa.453b2c","name":"","group":"15801141.56757f","order":1,"width":0,"height":0,"gtype":"gage","title":"Harmful","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":280,"wires":[]},{"id":"938edceb.31b01","type":"function","z":"1f8ff3fa.453b2c","name":"distance","func":"global.set(\"distance\",msg.payload.d.distance)\n\nmsg.payload=msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["9951bdf4.75842","9d880396.a25aa"]]},{"id":"9951bdf4.75842","type":"ui_gauge","z":"1f8ff3fa.453b2c","name":"","group":"15801141.56757f","order":1,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"units","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":340,"wires":[]},{"id":"8e431254.83e8","type":"http in","z":"1f8ff3fa.453b2c","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":220,"y":480,"wires":[["a230ae65.3defa"]]},{"id":"a230ae65.3defa","type":"function","z":"1f8ff3fa.453b2c","name":"","func":"msg.payload={\"Temperature\":global.get(\"Temperature\"),\"Humidity\":global.get(\"Humidity\"),\"Harmful\":global.get(\"Harmful\"),\"distance\":global.get(\"distance\")}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["3f593227.15d6ce"]]},{"id":"3f593227.15d6ce","type":"http response","z":"1f8ff3fa.453b2c","name":"","statusCode":"","headers":{},"x":630,"y":480,"wires":[]},{"id":"b36fb207.594d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"nlm7m3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7e83a3be.de62ec","type":"ui_group","z":"","name":"Temperature","tab":"b4b39ffd.9c0d1","disp":true,"width":"6","collapse":false},{"id":"15801141.56757f","type":"ui_group","z":"","name":"Sensor Values","tab":"b4b39ffd.9c0d1","order":2,"disp":true,"width":"6","collapse":false},{"id":"b4b39ffd.9c0d1","type":"ui_tab","z":"","name":"River Water Quality Project","icon":"dashboard","disabled":false,"hidden":false}]