Smart_Plant_communicator/Node_red_flow.txt
[{"id":"e4dd9f8f.ab153","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"13239a32.525746","type":"ibmiot in","z":"e4dd9f8f.ab153","authentication":"apiKey","apiKey":"b36fb207.594d8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"IoT","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":180,"wires":[["f3164fc0.6e444","b5549d7.b682b6","60fe9f32.1acb6","41d913e1.b633dc"]]},{"id":"f3164fc0.6e444","type":"function","z":"e4dd9f8f.ab153","name":"temperature","func":"global.set(\"temp\",msg.payload.d.temperature)\nmsg.payload=msg.payload.d.temperature\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":160,"wires":[["c1b2b354.70ee4","338fa326.542ffc"]]},{"id":"b5549d7.b682b6","type":"function","z":"e4dd9f8f.ab153","name":"humidity","func":"global.set(\"hum\",msg.payload.d.humidity)\nmsg.payload=msg.payload.d.humidity\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["c1b2b354.70ee4","d9b18a57.4014d8"]]},{"id":"60fe9f32.1acb6","type":"function","z":"e4dd9f8f.ab153","name":"moisture","func":"global.set(\"smoke\",msg.payload.d.Moisture)\n\n\nmsg.payload=msg.payload.d.Moisture\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["c1b2b354.70ee4","6814c704.ed21e8"]]},{"id":"c1b2b354.70ee4","type":"debug","z":"e4dd9f8f.ab153","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":140,"wires":[]},{"id":"338fa326.542ffc","type":"ui_gauge","z":"e4dd9f8f.ab153","name":"","group":"7e83a3be.de62ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":200,"wires":[]},{"id":"d9b18a57.4014d8","type":"ui_gauge","z":"e4dd9f8f.ab153","name":"","group":"7e83a3be.de62ec","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":240,"wires":[]},{"id":"6814c704.ed21e8","type":"ui_gauge","z":"e4dd9f8f.ab153","name":"","group":"15801141.56757f","order":1,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":280,"wires":[]},{"id":"41d913e1.b633dc","type":"function","z":"e4dd9f8f.ab153","name":"distance","func":"global.set(\"distance\",msg.payload.d.distance)\n\nmsg.payload=msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["cbe83bc4.800f68","c1b2b354.70ee4"]]},{"id":"cbe83bc4.800f68","type":"ui_gauge","z":"e4dd9f8f.ab153","name":"","group":"15801141.56757f","order":1,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"units","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":340,"wires":[]},{"id":"a21a66bf.2de8d8","type":"ibmiot out","z":"e4dd9f8f.ab153","authentication":"apiKey","apiKey":"b36fb207.594d8","outputType":"cmd","deviceId":"1234","deviceType":"IoT","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":560,"y":460,"wires":[]},{"id":"cc7f11f1.9a476","type":"ui_button","z":"e4dd9f8f.ab153","name":"","group":"b943f48a.85de58","order":3,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOTORON","payloadType":"str","topic":"","x":310,"y":420,"wires":[["a21a66bf.2de8d8","482e8cfe.3aa184"]]},{"id":"51508a18.a220d4","type":"ui_button","z":"e4dd9f8f.ab153","name":"","group":"b943f48a.85de58","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MOTOROFF","payloadType":"str","topic":"","x":310,"y":500,"wires":[["a21a66bf.2de8d8","482e8cfe.3aa184"]]},{"id":"482e8cfe.3aa184","type":"debug","z":"e4dd9f8f.ab153","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":400,"wires":[]},{"id":"b36fb207.594d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"nlm7m3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7e83a3be.de62ec","type":"ui_group","z":"","name":"Temperature","tab":"b4b39ffd.9c0d1","disp":true,"width":"6","collapse":false},{"id":"15801141.56757f","type":"ui_group","z":"","name":"Sensor Values","tab":"b4b39ffd.9c0d1","order":2,"disp":true,"width":"6","collapse":false},{"id":"b943f48a.85de58","type":"ui_group","z":"","name":"MOTOR","tab":"b4b39ffd.9c0d1","order":1,"disp":true,"width":"6","collapse":false},{"id":"b4b39ffd.9c0d1","type":"ui_tab","z":"","name":"Smart_Plant_communicator","icon":"dashboard","disabled":false,"hidden":false}]